/* 
    Author schemabuoi
    Author kiddo
*/

.jfx-slider > .track{
     -fx-background-color:#535353;
}
.jfx-slider > .colored-track{
     -fx-background-color:#ff006f;
}
.jfx-slider > .thumb{
     -fx-background-color:white;
}
.jfx-slider > .animated-thumb{
     -fx-background-color:#ff006f;
}
